.App h1{
  text-align: center;
}

.App p:not(#formLabel){
  width: 50%;
  margin-left: 25%;
}

.App h3{
  margin-left: 25%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #5050ff;
  /*position: relative;*/
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #ff4040;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

.nav-elements ul a:hover{
  color: #ff4040;
}

.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landPageMain {
  display: flex;
  width: 100%;
  padding-bottom: 50px;
  background-color: aqua;
}

#leftContainer {
  width: 40%;
  margin-left: 50px;
}

#rightContainer {
  width: 60%;
}

.App form input, textarea, button, label, p#formLabel{
  width: 20%;
  margin-left: 40%;
}

.landPageAdv{
  width: 100%;
  display: flex;
  padding-bottom: 30px;
  height: 200px;
  background-color: #ff4040;
}

.advLeft1{
  width: 35%;
  margin-left: 15%;
}
.advRight1{
  width: 35%;
}

.advLeft2{
  width: 35%;
  margin-left: 15%;
}

.advRight2{
  width: 35%;
}

.offerImg{
  height: 200px;
}

.landPageAdv h3{
  text-align: center;
}